.container {
    margin: 20px auto;
}

#title {
    margin-bottom: 20px;
    text-align: center;
    background-color: #fff;
    color: #e93c07;
}

h2 {
    margin: 20px 0;
}

h1, h2, h3 {
    color: #fff
}

body {
    background-color: #4287D6;
}

.btn-secondary {
    background-color: #e93c07;
}

a {
    text-decoration: none;
    color: #e93c07;
}

img {
    max-height: 150px;
}