<?xml version='1.1' encoding='UTF-8'?>
<project>
  <actions/>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <hudson.plugins.buildblocker.BuildBlockerProperty plugin="build-blocker-plugin@1.4.1">
      <useBuildBlocker>false</useBuildBlocker>
    </hudson.plugins.buildblocker.BuildBlockerProperty>
    <jenkins.model.BuildDiscarderProperty>
      <strategy class="hudson.tasks.LogRotator">
        <daysToKeep>30</daysToKeep>
        <numToKeep>100</numToKeep>
        <artifactDaysToKeep>-1</artifactDaysToKeep>
        <artifactNumToKeep>-1</artifactNumToKeep>
      </strategy>
    </jenkins.model.BuildDiscarderProperty>
    <com.sonyericsson.jenkins.plugins.bfa.model.ScannerJobProperty plugin="build-failure-analyzer@1.19.0">
      <doNotScan>false</doNotScan>
    </com.sonyericsson.jenkins.plugins.bfa.model.ScannerJobProperty>
    <jenkins.advancedqueue.AdvancedQueueSorterJobProperty plugin="PrioritySorter@2.8">
      <useJobPriority>false</useJobPriority>
      <priority>-1</priority>
    </jenkins.advancedqueue.AdvancedQueueSorterJobProperty>
    <com.sonyericsson.rebuild.RebuildSettings plugin="rebuild@1.25">
      <autoRebuild>false</autoRebuild>
      <rebuildDisabled>false</rebuildDisabled>
    </com.sonyericsson.rebuild.RebuildSettings>
    <com.synopsys.arc.jenkinsci.plugins.jobrestrictions.jobs.JobRestrictionProperty plugin="job-restrictions@0.8"/>
    <hudson.model.ParametersDefinitionProperty>
      <parameterDefinitions>
        <hudson.model.StringParameterDefinition>
          <name>version_number</name>
          <description></description>
          <defaultValue>4.5.0-322</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>cluster</name>
          <description></description>
          <defaultValue>/home/jenkins/local.ini</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>host</name>
          <description></description>
          <defaultValue>10.3.5.179</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>baseurl</name>
          <description></description>
          <defaultValue>http://172.23.120.24/builds/latestbuilds</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
      </parameterDefinitions>
    </hudson.model.ParametersDefinitionProperty>
  </properties>
  <scm class="hudson.scm.NullSCM"/>
  <assignedNode>cen006-dcp-forestdb-sanity</assignedNode>
  <canRoam>false</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <authToken>trigger</authToken>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command># These commans pulls the appropriate forestdb repo which corresponds to a build
# by first pulling the manifest and then building the forestdb repo
#rm -rf fcb
#mkdir fcb
#cd fcb
cb=&quot;couchbase-server&quot;

# Get release being tested
# When a new release is created, this needs to be updated
rel=&quot;spock&quot;
echo ${version_number} | grep &quot;4\.6&quot; &amp;&amp; rel=&quot;watson&quot;
echo ${version_number} | grep &quot;4\.7&quot; &amp;&amp; rel=&quot;watson&quot;
echo ${version_number} | grep &quot;5\.0&quot; &amp;&amp; rel=&quot;spock&quot;
echo ${version_number} | grep &quot;5\.1&quot; &amp;&amp; rel=&quot;spock&quot;
echo ${version_number} | grep &quot;5\.5&quot; &amp;&amp; rel=&quot;vulcan&quot;
echo ${version_number} | grep &quot;6\.0&quot; &amp;&amp; rel=&quot;alice&quot;
echo ${version_number} | grep &quot;6\.5&quot; &amp;&amp; rel=&quot;mad-hatter&quot;


# Parse build from version_number
build=`echo ${version_number} | cut -d &apos;-&apos; -f2`
echo $rel.${version_number}

# Get the manifest file for building release
manifest=$cb-${version_number}-manifest.xml
which python
python -V
wget ${baseurl}/${cb}/${rel}/${build}/${manifest}
sed -i &apos;s/plasma/master/g&apos; ${WORKSPACE}/${manifest}

# Clone source
repo init -u git://github.com/couchbase/manifest.git  -m ${WORKSPACE}/${manifest}  || /bin/true
# cp ${manifest} .repo/manifests/ 
cp ${WORKSPACE}/${manifest} ${WORKSPACE}/.repo/manifests/ 

repo init -u git://github.com/couchbase/manifest.git -m ${WORKSPACE}/${manifest}  || /bin/true
repo sync --jobs=6


# Building forestdb from the repo
cd forestdb
mkdir -p build
cd build
cmake -DCMAKE_BUILD_TYPE=Debug ../
make -j4 all

# Run all the tests
ctest -T Test || /bin/true

echo Desc: $version_number</command>
    </hudson.tasks.Shell>
  </builders>
  <publishers>
    <xunit plugin="xunit@1.102">
      <types>
        <CTestType>
          <pattern>forestdb/build/Testing/**/Test.xml</pattern>
          <skipNoTestFiles>false</skipNoTestFiles>
          <failIfNotNew>false</failIfNotNew>
          <deleteOutputFiles>true</deleteOutputFiles>
          <stopProcessingIfError>false</stopProcessingIfError>
        </CTestType>
      </types>
      <thresholds>
        <org.jenkinsci.plugins.xunit.threshold.FailedThreshold>
          <unstableThreshold>1</unstableThreshold>
          <unstableNewThreshold>1</unstableNewThreshold>
          <failureThreshold>10</failureThreshold>
          <failureNewThreshold>10</failureNewThreshold>
        </org.jenkinsci.plugins.xunit.threshold.FailedThreshold>
        <org.jenkinsci.plugins.xunit.threshold.SkippedThreshold>
          <unstableThreshold>1</unstableThreshold>
          <unstableNewThreshold>1</unstableNewThreshold>
          <failureThreshold>10</failureThreshold>
          <failureNewThreshold>10</failureNewThreshold>
        </org.jenkinsci.plugins.xunit.threshold.SkippedThreshold>
      </thresholds>
      <thresholdMode>1</thresholdMode>
      <extraConfiguration>
        <testTimeMargin>3000</testTimeMargin>
      </extraConfiguration>
    </xunit>
    <hudson.plugins.descriptionsetter.DescriptionSetterPublisher plugin="description-setter@1.9">
      <regexp>^Desc: (.*)</regexp>
      <regexpForFailed></regexpForFailed>
      <setForMatrix>false</setForMatrix>
    </hudson.plugins.descriptionsetter.DescriptionSetterPublisher>
    <hudson.tasks.Mailer plugin="mailer@1.20">
      <recipients>#raju@couchbase.com</recipients>
      <dontNotifyEveryUnstableBuild>false</dontNotifyEveryUnstableBuild>
      <sendToIndividuals>false</sendToIndividuals>
    </hudson.tasks.Mailer>
  </publishers>
  <buildWrappers>
    <hudson.plugins.ws__cleanup.PreBuildCleanup plugin="ws-cleanup@0.33">
      <deleteDirs>false</deleteDirs>
      <cleanupParameter></cleanupParameter>
      <externalDelete></externalDelete>
    </hudson.plugins.ws__cleanup.PreBuildCleanup>
  </buildWrappers>
</project>