<?xml version='1.1' encoding='UTF-8'?>
<project>
  <actions/>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <hudson.plugins.buildblocker.BuildBlockerProperty plugin="build-blocker-plugin@1.4.1">
      <useBuildBlocker>false</useBuildBlocker>
    </hudson.plugins.buildblocker.BuildBlockerProperty>
    <jenkins.model.BuildDiscarderProperty>
      <strategy class="hudson.tasks.LogRotator">
        <daysToKeep>31</daysToKeep>
        <numToKeep>10</numToKeep>
        <artifactDaysToKeep>31</artifactDaysToKeep>
        <artifactNumToKeep>31</artifactNumToKeep>
      </strategy>
    </jenkins.model.BuildDiscarderProperty>
    <com.sonyericsson.jenkins.plugins.bfa.model.ScannerJobProperty plugin="build-failure-analyzer@1.19.0">
      <doNotScan>false</doNotScan>
    </com.sonyericsson.jenkins.plugins.bfa.model.ScannerJobProperty>
    <jenkins.advancedqueue.AdvancedQueueSorterJobProperty plugin="PrioritySorter@2.8">
      <useJobPriority>false</useJobPriority>
      <priority>-1</priority>
    </jenkins.advancedqueue.AdvancedQueueSorterJobProperty>
    <com.sonyericsson.rebuild.RebuildSettings plugin="rebuild@1.25">
      <autoRebuild>false</autoRebuild>
      <rebuildDisabled>false</rebuildDisabled>
    </com.sonyericsson.rebuild.RebuildSettings>
    <com.synopsys.arc.jenkinsci.plugins.jobrestrictions.jobs.JobRestrictionProperty plugin="job-restrictions@0.8"/>
    <hudson.model.ParametersDefinitionProperty>
      <parameterDefinitions>
        <hudson.model.StringParameterDefinition>
          <name>version_number</name>
          <description></description>
          <defaultValue>4.5.0-xxxx</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.ChoiceParameterDefinition>
          <name>vbuckets</name>
          <description></description>
          <choices class="java.util.Arrays$ArrayList">
            <a class="string-array">
              <string>1024</string>
            </a>
          </choices>
        </hudson.model.ChoiceParameterDefinition>
        <hudson.model.ChoiceParameterDefinition>
          <name>gsi_type</name>
          <description></description>
          <choices class="java.util.Arrays$ArrayList">
            <a class="string-array">
              <string>plasma</string>
            </a>
          </choices>
        </hudson.model.ChoiceParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>url</name>
          <description></description>
          <defaultValue></defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>branch</name>
          <description></description>
          <defaultValue>master</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>ini_file</name>
          <description></description>
          <defaultValue>functional2itests.ini</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
      </parameterDefinitions>
    </hudson.model.ParametersDefinitionProperty>
  </properties>
  <scm class="hudson.plugins.git.GitSCM" plugin="git@3.3.0">
    <configVersion>2</configVersion>
    <userRemoteConfigs>
      <hudson.plugins.git.UserRemoteConfig>
        <url>http://github.com/couchbase/testrunner.git</url>
      </hudson.plugins.git.UserRemoteConfig>
    </userRemoteConfigs>
    <branches>
      <hudson.plugins.git.BranchSpec>
        <name>master</name>
      </hudson.plugins.git.BranchSpec>
    </branches>
    <doGenerateSubmoduleConfigurations>false</doGenerateSubmoduleConfigurations>
    <submoduleCfg class="list"/>
    <extensions/>
  </scm>
  <assignedNode>golang</assignedNode>
  <canRoam>false</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>true</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>true</blockBuildWhenUpstreamBuilding>
  <authToken>trigger</authToken>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>echo version=${version_number}


echo &quot;[global]
port:8091
username:root
password:couchbase
index_port:9102

[servers]
1:SERVER_1
2:SERVER_2

[SERVER_1]
ip:172.23.121.12
services:kv,index,n1ql

[SERVER_2]
ip:172.23.121.15
services:kv

[membase]
rest_username:Administrator
rest_password:password

[tuq_client]
goroot:/root/n1ql/go
sherlock_path=/opt/couchbase/bin
&quot; &gt; ${ini_file}


##python27 scripts/ssh.py -i ${ini_file} &quot;ntpdate ntp.ubuntu.com&quot;
##python27 scripts/ssh.py -i ${ini_file} &quot;date&quot;
##python27 scripts/ssh.py -i ${ini_file} &quot;cat /etc/*rele*&quot;
##python27 scripts/ssh.py -i ${ini_file} &quot;lscpu&quot;
##python27 scripts/ssh.py -i ${ini_file} &quot;find /tmp/core* -mtime +10 -exec rm {} \;&quot;
##python27 scripts/ssh.py -i ${ini_file} &quot;df&quot;
##python27 scripts/ssh.py -i ${ini_file} &quot;free&quot;
##python27 scripts/ssh.py -i ${ini_file} &quot;ls -la /tmp/&quot;

ulimit -a

python scripts/install.py -i ${ini_file} -p vbuckets=1024,version=${version_number},product=cb,parallel=True,init_nodes=True,url=${url}
sleep 20s

git checkout ${branch}
git pull origin ${branch}

curl -u Administrator:password &apos;172.23.121.12:8091/controller/addNode&apos; -d &quot;hostname=172.23.121.15&amp;user=Administrator&amp;password=password&amp;services=kv&quot;
sleep 20s

curl -X POST -u Administrator:password &apos;172.23.121.12:8091/controller/rebalance&apos; -d &apos;ejectedNodes=&amp;knownNodes=ns_1%40172.23.121.12%2Cns_1%40172.23.121.15&apos;
sleep 20s

curl -X POST -u Administrator:password http://172.23.121.12:8091/pools/default -d indexMemoryQuota=1400 -d memoryQuota=1400

curl -X POST -u Administrator:password -d name=default -d ramQuotaMB=1300 -d authType=sasl -d saslPassword=&quot;&quot;  -d replicaNumber=1 http://172.23.121.12:8091/pools/default/buckets

#curl -X POST http://172.23.121.12:9102/settings -u Administrator:password -d &apos;{&quot;indexer.settings.memory_quota&quot;: 256}&apos;

#curl -X PUT http://172.23.121.12:8091/settings/rbac/users/builtin/admin -d &quot;name=admin&amp;roles=admin&amp;password=asdasd&quot; -u Administrator:password

code=`echo ${version_number} | cut -d &quot;-&quot; -f1 | cut -d &quot;.&quot; -f1,2`
if [ &quot;$code&quot; == 4.1 ]
then
   branch=sherlock
elif [ &quot;$code&quot; == 4.5 ]
then
   branch=watson
elif [ &quot;$code&quot; == 5.0 ]
then
   branch=spock
elif [ &quot;$code&quot; == 5.1 ]
then
   branch=spock
elif [ &quot;$code&quot; == 5.5 ]
then
   branch=vulcan
elif [ &quot;$code&quot; == 6.0 ]
then
   branch=alice
elif [ &quot;$code&quot; == 6.5 ]
then
   branch=mad-hatter
else
   branch=watson
fi

base_url=&quot;http://172.23.120.24/builds/latestbuilds/couchbase-server&quot;
build=`echo ${version_number} | cut -d &quot;-&quot; -f2`

rm -rf /data/jenkins/workspace/cen7-2i-plasma-set4-job1-functional2itests/${branch}
mkdir -p /data/jenkins/workspace/cen7-2i-plasma-set4-job1-functional2itests/${branch}
cd /data/jenkins/workspace/cen7-2i-plasma-set4-job1-functional2itests/${branch}

rm -rf /data/jenkins/workspace/cen7-2i-plasma-set4-job1-functional2itests/config
mkdir -p /data/jenkins/workspace/cen7-2i-plasma-set4-job1-functional2itests/config

manifest=couchbase-server-${version_number}-manifest.xml
wget ${base_url}/${branch}/${build}/${manifest}
repo init -u git://github.com/couchbase/manifest.git  -m ${manifest}  || /bin/true
cp ${manifest} .repo/manifests/
repo init -u git://github.com/couchbase/manifest.git -m ${manifest}  || /bin/true
repo sync || /bin/true

#to update g++, c++ compiler for successful make
#cd /etc/yum.repos.d
#wget http://people.centos.org/tru/devtools-2/devtools-2.repo
#yum reinstall -y devtoolset-2-gcc devtoolset-2-binutils devtoolset-2-gcc-gfortran devtoolset-2-gcc-c++
cd /data/jenkins/workspace/cen7-2i-plasma-set4-job1-functional2itests/${branch}

#export GOPATH=/data/jenkins/workspace/cen7-2i-plasma-set4-job1-functional2itests/${branch}/goproj/
#export GOPATH=$GOPATH:/data/jenkins/workspace/cen7-2i-plasma-set4-job1-functional2itests/${branch}/godeps/
#scl enable devtoolset-7 make
make

echo &quot;{
   \&quot;KVAddress\&quot;: \&quot;172.23.121.12:8091\&quot;,
   \&quot;Username\&quot;: \&quot;Administrator\&quot;,
   \&quot;Password\&quot;: \&quot;password\&quot;,
   \&quot;IndexUsing\&quot;: \&quot;${gsi_type}\&quot;
}&quot; &gt; /data/jenkins/workspace/cen7-2i-plasma-set4-job1-functional2itests/config/cen_func_2i_conf.json</command>
    </hudson.tasks.Shell>
    <hudson.tasks.Shell>
      <command>echo &apos;---------------------------- TESTS Secondary Index Functional Tests -----------------------&apos;

code=`echo ${version_number} | cut -d &quot;-&quot; -f1 | cut -d &quot;.&quot; -f1,2`
if [ &quot;$code&quot; == 4.1 ]
then
   branch=sherlock
elif [ &quot;$code&quot; == 4.5 ]
then
   branch=watson
elif [ &quot;$code&quot; == 5.0 ]
then
   branch=spock
elif [ &quot;$code&quot; == 5.1 ]
then
   branch=spock
elif [ &quot;$code&quot; == 5.5 ]
then
   branch=vulcan
elif [ &quot;$code&quot; == 6.0 ]
then
   branch=alice
elif [ &quot;$code&quot; == 6.5 ]
then
   branch=mad-hatter
else
   branch=watson
fi

cbconfig_path=&quot;/data/jenkins/workspace/cen7-2i-plasma-set4-job1-functional2itests/config/cen_func_2i_conf.json&quot;
workspace=&quot;/data/jenkins/workspace/cen7-2i-plasma-set4-job1-functional2itests/${branch}&quot;



mkdir -p ${workspace}/go

export GOROOT=/root/.cbdepscache/exploded/x86_64/go-1.7.3/go
export PATH=/root/.cbdepscache/exploded/x86_64/go-1.7.3/go/bin:$PATH
export GOPATH=${workspace}/godeps/:${workspace}/goproj/
export C_INCLUDE_PATH=${workspace}/platform/include/:/opt/couchbase/include/:${workspace}/forestdb/include:${workspace}/build/tlm/deps/curl.exploded/include:${workspace}/sigar/include
export CGO_LDFLAGS=&quot;-L ${workspace}/install/lib&quot;
export LD_LIBRARY_PATH=${workspace}/install/lib
export CBAUTH_REVRPC_URL=&quot;http://Administrator:password@172.23.121.12:8091/query&quot;



echo &apos;----------------------------------------&apos;
go version
echo &apos;----------------------------------------&apos;

cd /data/jenkins/workspace/cen7-2i-plasma-set4-job1-functional2itests/${branch}/goproj/src/github.com/couchbase/indexing/secondary/tests

#go get ./... || /bin/true
go get -t ./... 1&gt;/dev/null 2&gt;&amp;1 || /bin/true

cd /data/jenkins/workspace/cen7-2i-plasma-set4-job1-functional2itests/${branch}/goproj/src/github.com/couchbase/indexing/secondary/tests/

rm -rf /data/workspace/cen7-2i-plasma-set4-job1-functional2itests/reports
rm -rf /data/jenkins/workspace/cen7-2i-plasma-set4-job1-functional2itests/${branch}/goproj/src/github.com/couchbase/indexing/secondary/tests/output.txt
rm -rf test_output.xml
mkdir -p /data/workspace/cen7-2i-plasma-set4-job1-functional2itests/reports

cd /data/jenkins/workspace/cen7-2i-plasma-set4-job1-functional2itests/${branch}/goproj/src/github.com/couchbase/indexing/secondary/tests/functionaltests
go test -v -timeout 10000s -cbconfig $cbconfig_path -useclient n1ql 2&gt;&amp;1 | tee -a  /data/jenkins/workspace/cen7-2i-plasma-set4-job1-functional2itests/${branch}/goproj/src/github.com/couchbase/indexing/secondary/tests/output.txt


cd /data/jenkins/workspace/cen7-2i-plasma-set4-job1-functional2itests/${branch}/goproj/src/github.com/couchbase/indexing/secondary/tests/largedatatests
go test -v -timeout 10000s -cbconfig $cbconfig_path -useclient n1ql 2&gt;&amp;1 | tee -a  /data/jenkins/workspace/cen7-2i-plasma-set4-job1-functional2itests/${branch}/goproj/src/github.com/couchbase/indexing/secondary/tests/output.txt


cd /data/jenkins/workspace/cen7-2i-plasma-set4-job1-functional2itests/${branch}/goproj/src/github.com/couchbase/indexing/secondary/tests/

cat /data/jenkins/workspace/cen7-2i-plasma-set4-job1-functional2itests/${branch}/goproj/src/github.com/couchbase/indexing/secondary/tests/output.txt | /data/jenkins/workspace/cen7-2i-plasma-set4-job1-functional2itests/misc/bin/go2xunit &gt; /data/workspace/cen7-2i-plasma-set4-job1-functional2itests/reports/test_output.xml

#bash -c &quot;python /jenkins/workspace/cen7-2i-plasma-set4-job1-functional2itests/${branch}/testrunner/scripts/getcoredumps.py	 -i ${ini_file};exit 0;&quot;
#bash -c &quot;python /jenkins/workspace/cen7-2i-plasma-set4-job1-functional2itests/${branch}/testrunner/scripts/collect_server_info.py	 -i ${ini_file};exit 0;&quot;

##rm -rf /jenkins/workspace/cen7-2i-plasma-set4-job1-functional2itests/${branch}</command>
    </hudson.tasks.Shell>
  </builders>
  <publishers>
    <hudson.tasks.ArtifactArchiver>
      <artifacts>changes.*,*.zip,**/*.log,*.gz,**/*.xml,**/*.zip</artifacts>
      <allowEmptyArchive>false</allowEmptyArchive>
      <onlyIfSuccessful>false</onlyIfSuccessful>
      <fingerprint>false</fingerprint>
      <defaultExcludes>true</defaultExcludes>
      <caseSensitive>true</caseSensitive>
    </hudson.tasks.ArtifactArchiver>
    <hudson.tasks.junit.JUnitResultArchiver plugin="junit@1.20">
      <testResults>**/*.xml</testResults>
      <keepLongStdio>false</keepLongStdio>
      <healthScaleFactor>1.0</healthScaleFactor>
      <allowEmptyResults>false</allowEmptyResults>
    </hudson.tasks.junit.JUnitResultArchiver>
    <hudson.plugins.descriptionsetter.DescriptionSetterPublisher plugin="description-setter@1.9">
      <regexp>version=(.*)</regexp>
      <regexpForFailed></regexpForFailed>
      <setForMatrix>false</setForMatrix>
    </hudson.plugins.descriptionsetter.DescriptionSetterPublisher>
    <hudson.plugins.claim.ClaimPublisher plugin="claim@2.9"/>
    <hudson.plugins.emailext.ExtendedEmailPublisher plugin="email-ext@2.57.2">
      <recipientList>prasanna.gholap@couchbase.com</recipientList>
      <configuredTriggers>
        <hudson.plugins.emailext.plugins.trigger.FailureTrigger>
          <email>
            <subject>$PROJECT_DEFAULT_SUBJECT</subject>
            <body>$PROJECT_DEFAULT_CONTENT</body>
            <recipientProviders>
              <hudson.plugins.emailext.plugins.recipients.ListRecipientProvider/>
            </recipientProviders>
            <attachmentsPattern></attachmentsPattern>
            <attachBuildLog>false</attachBuildLog>
            <compressBuildLog>false</compressBuildLog>
            <contentType>project</contentType>
          </email>
        </hudson.plugins.emailext.plugins.trigger.FailureTrigger>
        <hudson.plugins.emailext.plugins.trigger.SuccessTrigger>
          <email>
            <subject>$PROJECT_DEFAULT_SUBJECT</subject>
            <body>$PROJECT_DEFAULT_CONTENT</body>
            <recipientProviders>
              <hudson.plugins.emailext.plugins.recipients.ListRecipientProvider/>
            </recipientProviders>
            <attachmentsPattern></attachmentsPattern>
            <attachBuildLog>false</attachBuildLog>
            <compressBuildLog>false</compressBuildLog>
            <replyTo>$PROJECT_DEFAULT_REPLYTO</replyTo>
            <contentType>project</contentType>
          </email>
        </hudson.plugins.emailext.plugins.trigger.SuccessTrigger>
        <hudson.plugins.emailext.plugins.trigger.UnstableTrigger>
          <email>
            <subject>$PROJECT_DEFAULT_SUBJECT</subject>
            <body>$PROJECT_DEFAULT_CONTENT</body>
            <recipientProviders>
              <hudson.plugins.emailext.plugins.recipients.ListRecipientProvider/>
            </recipientProviders>
            <attachmentsPattern></attachmentsPattern>
            <attachBuildLog>false</attachBuildLog>
            <compressBuildLog>false</compressBuildLog>
            <replyTo>$PROJECT_DEFAULT_REPLYTO</replyTo>
            <contentType>project</contentType>
          </email>
        </hudson.plugins.emailext.plugins.trigger.UnstableTrigger>
        <hudson.plugins.emailext.plugins.trigger.FixedTrigger>
          <email>
            <subject>$PROJECT_DEFAULT_SUBJECT</subject>
            <body>$PROJECT_DEFAULT_CONTENT</body>
            <recipientProviders>
              <hudson.plugins.emailext.plugins.recipients.ListRecipientProvider/>
            </recipientProviders>
            <attachmentsPattern></attachmentsPattern>
            <attachBuildLog>false</attachBuildLog>
            <compressBuildLog>false</compressBuildLog>
            <replyTo>$PROJECT_DEFAULT_REPLYTO</replyTo>
            <contentType>project</contentType>
          </email>
        </hudson.plugins.emailext.plugins.trigger.FixedTrigger>
      </configuredTriggers>
      <contentType>default</contentType>
      <defaultSubject>${BUILD_STATUS}: cen7-2i-plasma-set4-job1-functional2itests-${ENV , var=&quot;version_number&quot;} - QE OWNER: Prasanna</defaultSubject>
      <defaultContent>${JELLY_SCRIPT, template=&quot;couchbase&quot;}</defaultContent>
      <attachmentsPattern></attachmentsPattern>
      <presendScript></presendScript>
      <postsendScript></postsendScript>
      <attachBuildLog>false</attachBuildLog>
      <compressBuildLog>false</compressBuildLog>
      <replyTo></replyTo>
      <saveOutput>false</saveOutput>
      <disabled>false</disabled>
    </hudson.plugins.emailext.ExtendedEmailPublisher>
    <hudson.plugins.parameterizedtrigger.BuildTrigger plugin="parameterized-trigger@2.30">
      <configs>
        <hudson.plugins.parameterizedtrigger.BuildTriggerConfig>
          <configs>
            <hudson.plugins.parameterizedtrigger.PredefinedBuildParameters>
              <properties>version_number=${version_number}
branch=${branch}</properties>
            </hudson.plugins.parameterizedtrigger.PredefinedBuildParameters>
          </configs>
          <projects>cen7-query-set4-job2-aggregate-array-pushdown</projects>
          <condition>ALWAYS</condition>
          <triggerWithNoParameters>false</triggerWithNoParameters>
        </hudson.plugins.parameterizedtrigger.BuildTriggerConfig>
      </configs>
    </hudson.plugins.parameterizedtrigger.BuildTrigger>
  </publishers>
  <buildWrappers>
    <hudson.plugins.ws__cleanup.PreBuildCleanup plugin="ws-cleanup@0.33">
      <deleteDirs>false</deleteDirs>
      <cleanupParameter></cleanupParameter>
      <externalDelete></externalDelete>
    </hudson.plugins.ws__cleanup.PreBuildCleanup>
    <hudson.plugins.build__timeout.BuildTimeoutWrapper plugin="build-timeout@1.18">
      <strategy class="hudson.plugins.build_timeout.impl.AbsoluteTimeOutStrategy">
        <timeoutMinutes>600</timeoutMinutes>
      </strategy>
      <operationList/>
    </hudson.plugins.build__timeout.BuildTimeoutWrapper>
  </buildWrappers>
</project>