<?xml version='1.1' encoding='UTF-8'?>
<project>
  <actions/>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <hudson.plugins.buildblocker.BuildBlockerProperty plugin="build-blocker-plugin@1.4.1">
      <useBuildBlocker>false</useBuildBlocker>
    </hudson.plugins.buildblocker.BuildBlockerProperty>
    <jenkins.model.BuildDiscarderProperty>
      <strategy class="hudson.tasks.LogRotator">
        <daysToKeep>12</daysToKeep>
        <numToKeep>12</numToKeep>
        <artifactDaysToKeep>5</artifactDaysToKeep>
        <artifactNumToKeep>5</artifactNumToKeep>
      </strategy>
    </jenkins.model.BuildDiscarderProperty>
    <com.sonyericsson.jenkins.plugins.bfa.model.ScannerJobProperty plugin="build-failure-analyzer@1.19.0">
      <doNotScan>false</doNotScan>
    </com.sonyericsson.jenkins.plugins.bfa.model.ScannerJobProperty>
    <com.coravy.hudson.plugins.github.GithubProjectProperty plugin="github@1.27.0">
      <projectUrl>https://github.com/couchbase/testrunner/</projectUrl>
      <displayName></displayName>
    </com.coravy.hudson.plugins.github.GithubProjectProperty>
    <jenkins.advancedqueue.AdvancedQueueSorterJobProperty plugin="PrioritySorter@2.8">
      <useJobPriority>false</useJobPriority>
      <priority>-1</priority>
    </jenkins.advancedqueue.AdvancedQueueSorterJobProperty>
    <com.sonyericsson.rebuild.RebuildSettings plugin="rebuild@1.25">
      <autoRebuild>false</autoRebuild>
      <rebuildDisabled>false</rebuildDisabled>
    </com.sonyericsson.rebuild.RebuildSettings>
    <com.synopsys.arc.jenkinsci.plugins.jobrestrictions.jobs.JobRestrictionProperty plugin="job-restrictions@0.8"/>
    <hudson.model.ParametersDefinitionProperty>
      <parameterDefinitions>
        <hudson.model.StringParameterDefinition>
          <name>resource</name>
          <description></description>
          <defaultValue>/root/subdoc_xattr.ini</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>version_number</name>
          <description></description>
          <defaultValue>5.0.0-1648</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>vbucket_number</name>
          <description></description>
          <defaultValue>1024</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>params</name>
          <description></description>
          <defaultValue>use_sdk_client=True,xattr=True</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>branch</name>
          <description></description>
          <defaultValue>master</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>url</name>
          <description></description>
          <defaultValue></defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
      </parameterDefinitions>
    </hudson.model.ParametersDefinitionProperty>
  </properties>
  <scm class="hudson.plugins.git.GitSCM" plugin="git@3.3.0">
    <configVersion>2</configVersion>
    <userRemoteConfigs>
      <hudson.plugins.git.UserRemoteConfig>
        <url>https://github.com/couchbase/testrunner</url>
      </hudson.plugins.git.UserRemoteConfig>
    </userRemoteConfigs>
    <branches>
      <hudson.plugins.git.BranchSpec>
        <name>*/master</name>
      </hudson.plugins.git.BranchSpec>
    </branches>
    <doGenerateSubmoduleConfigurations>false</doGenerateSubmoduleConfigurations>
    <submoduleCfg class="list"/>
    <extensions/>
  </scm>
  <assignedNode>slv-s71801</assignedNode>
  <canRoam>false</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>true</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>true</blockBuildWhenUpstreamBuilding>
  <authToken>trigger_all</authToken>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>echo version=${version_number},params=${params}

echo &quot;[global]
username:root
password:couchbase
port:8091
data_path:/data/

[membase]
rest_username:Administrator
rest_password:password

[servers]
1:vm1
2:vm2
3:vm3
4:vm4
5:vm5

[vm1]
ip:172.23.97.44

[vm2]
ip:172.23.97.46

[vm3]
ip:172.23.97.47

[vm4]
ip:172.23.97.48

[vm5]
ip:172.23.97.51&quot; &gt; ${resource}


cat ${resource}

git checkout ${branch}
git pull origin ${branch}


python scripts/install.py -i ${resource} -p vbuckets=${vbucket_number},version=${version_number},product=cb,parallel=True
#sed -i &quot;21i export COUCHBASE_FORCE_ENABLE_XATTR=1&quot; /opt/couchbase/etc/couchbase_init.d 
#/etc/init.d/couchbase-server restart
#python scripts/ssh.py -i ${resource} &apos;sed -i &quot;17i export COUCHBASE_FORCE_ENABLE_XATTR=1&quot; /opt/couchbase/bin/couchbase-server&apos;
#python scripts/ssh.py -i ${resource} &apos;sed -i &quot;21i export COUCHBASE_FORCE_ENABLE_XATTR=1&quot; /opt/couchbase/etc/couchbase_init.d&apos;
#python scripts/ssh.py -i ${resource} &apos;/etc/init.d/couchbase-server restart&apos;
#export LD_LIBRARY_PATH=&quot;/root/XATTR_SRC/libcouchbase/build/lib/&quot;
export
</command>
    </hudson.tasks.Shell>
    <hudson.tasks.Shell>
      <command>echo version=${version_number}
#./testrunner -i /root/subdoc_xattr.ini use_sdk_client=True,xattr=True,stop-on-failure=True -t subdoc.subdoc_nested_dataset.SubdocNestedDataset.test_exists_json_fields,skip_cleanup=True
#LD_LIBRARY_PATH=&quot;/root/XATTR_SRC/libcouchbase/build/lib/&quot;

#git checkout 3b0f95a10970f7caab0be887858a03e54fa450ed

LCB_LOG_LEVEL=5 python testrunner.py -i ${resource} -c conf/subdoc/py-subdoc-xattr-sdk.conf -p ${params}
LCB_LOG_LEVEL=5 python testrunner.py -i ${resource} -c conf/subdoc/py-subdoc-xattr-sdk.conf -p ${params},compression_mode=off
LCB_LOG_LEVEL=5 python testrunner.py -i ${resource} -c conf/subdoc/py-subdoc-xattr-sdk.conf -p ${params},compression_mode=active
LCB_LOG_LEVEL=5 python testrunner.py -i ${resource} -c conf/subdoc/py-subdoc-xattr-sdk.conf -p ${params},compression_mode=active,sdk_compression=True
LCB_LOG_LEVEL=5 python testrunner.py -i ${resource} -c conf/subdoc/py-subdoc-xattr-sdk.conf -p ${params},sdk_compression=True
#python testrunner.py -i ${resource} -c conf/py-4node-sanity.conf




#,stop-on-failure=True
#LD_LIBRARY_PATH=&quot;/root/XATTR_SRC/libcouchbase/build/lib/&quot; python testrunner.py -i ${resource} -c conf/subdoc/py-subdoc-mutation-tests-orig.conf -p use_sdk_client=True,xattr=True
echo Desc: $version_number
</command>
    </hudson.tasks.Shell>
  </builders>
  <publishers>
    <hudson.tasks.ArtifactArchiver>
      <artifacts>changes.*,*.zip,**/*.log,*.gz,**/*.xml,**/*.zip</artifacts>
      <allowEmptyArchive>false</allowEmptyArchive>
      <onlyIfSuccessful>false</onlyIfSuccessful>
      <fingerprint>false</fingerprint>
      <defaultExcludes>true</defaultExcludes>
      <caseSensitive>true</caseSensitive>
    </hudson.tasks.ArtifactArchiver>
    <hudson.tasks.junit.JUnitResultArchiver plugin="junit@1.20">
      <testResults>**/*.xml</testResults>
      <keepLongStdio>false</keepLongStdio>
      <healthScaleFactor>1.0</healthScaleFactor>
      <allowEmptyResults>false</allowEmptyResults>
    </hudson.tasks.junit.JUnitResultArchiver>
    <hudson.plugins.descriptionsetter.DescriptionSetterPublisher plugin="description-setter@1.9">
      <regexp>^Desc: (.*)</regexp>
      <regexpForFailed></regexpForFailed>
      <description>\1</description>
      <setForMatrix>false</setForMatrix>
    </hudson.plugins.descriptionsetter.DescriptionSetterPublisher>
    <hudson.plugins.claim.ClaimPublisher plugin="claim@2.9"/>
    <hudson.plugins.emailext.ExtendedEmailPublisher plugin="email-ext@2.57.2">
      <recipientList></recipientList>
      <configuredTriggers>
        <hudson.plugins.emailext.plugins.trigger.FailureTrigger>
          <email>
            <subject>$PROJECT_DEFAULT_SUBJECT</subject>
            <body>$PROJECT_DEFAULT_CONTENT</body>
            <recipientProviders>
              <hudson.plugins.emailext.plugins.recipients.ListRecipientProvider/>
            </recipientProviders>
            <attachmentsPattern></attachmentsPattern>
            <attachBuildLog>false</attachBuildLog>
            <compressBuildLog>false</compressBuildLog>
            <contentType>project</contentType>
          </email>
        </hudson.plugins.emailext.plugins.trigger.FailureTrigger>
        <hudson.plugins.emailext.plugins.trigger.SuccessTrigger>
          <email>
            <subject>$PROJECT_DEFAULT_SUBJECT</subject>
            <body>$PROJECT_DEFAULT_CONTENT</body>
            <recipientProviders>
              <hudson.plugins.emailext.plugins.recipients.ListRecipientProvider/>
            </recipientProviders>
            <attachmentsPattern></attachmentsPattern>
            <attachBuildLog>false</attachBuildLog>
            <compressBuildLog>false</compressBuildLog>
            <replyTo>$PROJECT_DEFAULT_REPLYTO</replyTo>
            <contentType>project</contentType>
          </email>
        </hudson.plugins.emailext.plugins.trigger.SuccessTrigger>
        <hudson.plugins.emailext.plugins.trigger.UnstableTrigger>
          <email>
            <subject>$PROJECT_DEFAULT_SUBJECT</subject>
            <body>$PROJECT_DEFAULT_CONTENT</body>
            <recipientProviders>
              <hudson.plugins.emailext.plugins.recipients.ListRecipientProvider/>
            </recipientProviders>
            <attachmentsPattern></attachmentsPattern>
            <attachBuildLog>false</attachBuildLog>
            <compressBuildLog>false</compressBuildLog>
            <replyTo>$PROJECT_DEFAULT_REPLYTO</replyTo>
            <contentType>project</contentType>
          </email>
        </hudson.plugins.emailext.plugins.trigger.UnstableTrigger>
      </configuredTriggers>
      <contentType>default</contentType>
      <defaultSubject>${BUILD_STATUS}: subdoc-autotests-tests-${ENV , var=&quot;version_number&quot;} </defaultSubject>
      <defaultContent>${JELLY_SCRIPT, template=&quot;couchbase&quot;}

${TEST_COUNTS}

${FAILED_TESTS}</defaultContent>
      <attachmentsPattern></attachmentsPattern>
      <presendScript></presendScript>
      <postsendScript></postsendScript>
      <attachBuildLog>false</attachBuildLog>
      <compressBuildLog>false</compressBuildLog>
      <replyTo></replyTo>
      <saveOutput>false</saveOutput>
      <disabled>false</disabled>
    </hudson.plugins.emailext.ExtendedEmailPublisher>
    <hudson.plugins.parameterizedtrigger.BuildTrigger plugin="parameterized-trigger@2.30">
      <configs>
        <hudson.plugins.parameterizedtrigger.BuildTriggerConfig>
          <configs>
            <hudson.plugins.parameterizedtrigger.CurrentBuildParameters/>
          </configs>
          <projects>cen006-P0-converg-xattrs-vset0-02-xdcr</projects>
          <condition>ALWAYS</condition>
          <triggerWithNoParameters>false</triggerWithNoParameters>
        </hudson.plugins.parameterizedtrigger.BuildTriggerConfig>
      </configs>
    </hudson.plugins.parameterizedtrigger.BuildTrigger>
  </publishers>
  <buildWrappers>
    <hudson.plugins.ws__cleanup.PreBuildCleanup plugin="ws-cleanup@0.33">
      <deleteDirs>false</deleteDirs>
      <cleanupParameter></cleanupParameter>
      <externalDelete></externalDelete>
    </hudson.plugins.ws__cleanup.PreBuildCleanup>
    <hudson.plugins.build__timeout.BuildTimeoutWrapper plugin="build-timeout@1.18">
      <strategy class="hudson.plugins.build_timeout.impl.AbsoluteTimeOutStrategy">
        <timeoutMinutes>500</timeoutMinutes>
      </strategy>
      <operationList>
        <hudson.plugins.build__timeout.operations.AbortOperation/>
      </operationList>
    </hudson.plugins.build__timeout.BuildTimeoutWrapper>
  </buildWrappers>
</project>